body{
  background-image:url("background.jpg");
  background-size: cover;
}
.contenuto{
  width: 1000px;
  height: 600px;
  margin: auto;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
figure>img{
  width: 250px;
  height: 100px;
  margin-top:90px;
}
figure>figcaption{
  font-size: 20px;
}
figure{
  text-align: center;
  color: lime;
}
nav{
  text-align: center;
  background-color: lime;
}
main,nav {
    margin: 10px 50px;
}
main{
  color: white;
}
h2,span{
  margin: 0;
}
.primo,.secondo,.terzo{
  margin-top:15px;
}
.arancione{
  background-color: orange;
  width: 250px;
  height: 20px;
}
.verde{
  background-color: green;
  width: 500px;
  height: 20px;
}
.rosso{
  background-color: red;
  width: 100px;
  height: 20px;
}
.arancione,.verde,.rosso{
  border-radius: 5px;
}
